.nav-item{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.nav-item a:hover{
    border-bottom: 4px solid #86CD82;
    color: #86CD82;
}

.navbar-brand img{
    width: 170px;
    max-height: 60px;
    margin-left: 10px;
}